body {
    text-align: center;
}

h1 {
	color: tomato;
	font-family: Georgia;
}

h2 {
	color: #abb;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #0000ba;
	-webkit-transition: color 2s, font-size .5s;
	transition: color 2s, font-size .5s;

}

a:hover {
	color: red;
	font-size: 2em;
}